.trash { color:rgb(209, 91, 71); }

.label-as-badge {
    border-radius: 1em;
    margin-left:5px;
    margin-right:5px;
}

.list-group-sub-item {
  padding: 10px 0px 25px 0px;
}

.raise {
  z-index:10;
}