<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <title>Activation</title>
  </head>
<body>
  <table class="body">
    <tr>
      <td class="center" align="center" valign="top">
        <center>

                <h1>New Coach!</h1>
                <p>There is a new coach that needs to be checked and authorized </p>
                <p>
                  Use the link below to access his details
                </p>
                <p><a href="{{=CONFIRMATION_URL}}{{=ID}}">{{=CONFIRMATION_URL}}{{=ID}}</a></p>

              </td>
            </tr>
          </table>

        </center>
      </td>
    </tr>
  </table>
</body>
</html>