<footer class="footer footer-inverse">
  <div class="container">
    <div class="social">
      <ul>
        <li>
          <a href="https://twitter.com/justbookeh" alt="Link to Twitter Page" target="_blank">
            <span class="fa-stack fa-lg social-twitter-icon"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x"></i></span>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/pages/justbookeh" alt="CoachUp on Facebook" target="_blank">
            <span class="fa-stack fa-lg social-facebook-icon"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x"></i></span>
          </a>
        </li>
        <li>
          <a href="https://plus.google.com/+justbookeh" alt="Link to Google Plus page" target="_blank">
            <span class="fa-stack fa-lg social-google-plus-icon"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-google-plus fa-stack-1x"></i></span>
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/justbookeh" alt="CoachUp on Facebook" target="_blank">
            <span class="fa-stack fa-lg social-youtube-icon"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-youtube fa-stack-1x"></i></span>
          </a>
        </li>
      </ul>
    </div>
      <p class="footer-brand">Footer stuff here |
        <a href="https://twitter.com">@twitter link</a> |</p>
  </div>
</footer>