<!-- <footer class="footer footer-inverse">
  <div class="container">
    <div class="social">
      <ul>
        <li>
          <a href="https://twitter.com/justbookeh" alt="Link to Twitter Page" target="_blank">
            <span class="fa-stack fa-lg social-twitter-icon"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x"></i></span>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/pages/justbookeh" alt="CoachUp on Facebook" target="_blank">
            <span class="fa-stack fa-lg social-facebook-icon"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x"></i></span>
          </a>
        </li>
        <li>
          <a href="https://plus.google.com/+justbookeh" alt="Link to Google Plus page" target="_blank">
            <span class="fa-stack fa-lg social-google-plus-icon"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-google-plus fa-stack-1x"></i></span>
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/justbookeh" alt="CoachUp on Facebook" target="_blank">
            <span class="fa-stack fa-lg social-youtube-icon"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-youtube fa-stack-1x"></i></span>
          </a>
        </li>
      </ul>
    </div>
      <p class="footer-brand">Footer stuff here |
        <a href="https://twitter.com">@twitter link</a> |</p>
  </div>
</footer> -->

<footer id="footer-content" class="container">
  <div id="fbox1">
    <h2>Recent Updates</h2>
    <ul class="style3">
      <li class="first">
        <p class="date"><a href="#">April<b>20</b></a></p>
        <h3>Amet sed volutpat mauris</h3>
        <p><a href="#">Mauris tempus nibh sodales adipiscing dolore.</a></p>
      </li>
      <li>
        <p class="date"><a href="#">April<b>18</b></a></p>
        <h3>Sagittis diam dolor sit amet</h3>
        <p><a href="#">Duis arcu tortor fringilla sed  sed magna.</a></p>
      </li>
      <li>
        <p class="date"><a href="#">April<b>15</b></a></p>
        <h3>Adipiscing sed consequat</h3>
        <p><a href="#">Pharetra ac velit sed in volutpat nisl mauris vel.</a></p>
      </li>
      <li>
      </li>
    </ul>
  </div>
  <div id="fbox2">
    <h2>About</h2>
    <p>This is<strong> Endearing Green</strong>, a free, fully standards-compliant CSS template designed by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. This free template is released under the <a href="http://creativecommons.org/licenses/by/3/">Creative Commons Attribution</a> license, so you’re pretty much free to do whatever you want with it (even use it commercially) provided you give us credit for it. Have fun :)</p>
    <a href="#" class="button-style">Ipsum feugiat consequat</a>
  </div>
  <div id="fbox3">
    <h2>Contact</h2>
    <p>Nam erat a posuere laoreet eget nibh sodales adipiscing. Phasellus tristique dui.</p>
    <ul class="style5">
      <li class="first"><span class="address">Address</span> <span class="address-01">1234 Somewhere Road #4285 <br>
        Nashville, TN 00000</span> </li>
      <li> <span class="mail">Mail</span> <span class="mail-01"><a href="#">someone@untitled.tld</a></span> </li>
      <li> <span class="phone">Phone</span> <span class="phone-01">(000) 000-0000</span> </li>
    </ul>
  </div>
</footer>