$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
*/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
}
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.nav-bar {
  margin-bottom: 30px!important;
}

@mixin bs-callout($color, $bgcolor) {
  display: block;
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border: 1px solid;
  border-left-width: 5px;
  border-color: #eee;
  border-left-color: $color;
  border-radius: 3px;
  background-color: $bgcolor;
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    color: $color;
  }
  p:last-child {
    margin-bottom: 0;
  }
  code, .highlight {
    background-color: #fff;
  }
}

.bs-callout-primary {
  @include bs-callout($brand-primary, lighten($brand-primary, 45%));
}

.bs-callout-danger {
  @include bs-callout($brand-danger, lighten($brand-danger, 30%));
}

.bs-callout-warning {
  @include bs-callout($brand-warning, lighten($brand-warning, 50%));
}

.bs-callout-info {
  @include bs-callout($brand-info, lighten($brand-info, 40%));
}

.bs-callout-success {
  @include bs-callout($brand-success, lighten($brand-success, 40%));
}

.progress-bar-striped {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.14902) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.14902) 50%, rgba(255, 255, 255, 0.14902) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px;
  background-size: 40px 40px;
}

.social-facebook-icon {
  color: #fff;
}

.social-facebook-icon .fa-circle {
  color: #3b5998;
}

.social-twitter-icon {
  color: #fff;
}

.social-twitter-icon .fa-circle {
  color: #55acee;
}

.social-google-plus-icon {
  color: #fff;
}

.social-google-plus-icon .fa-circle {
  color: #dd4b39;
}

.social-youtube-icon {
  color: #fff;
}

.social-youtube-icon .fa-circle {
  color: #b31217;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'account/signup/signup.scss';
@import 'admin/admin.scss';
@import 'find/find.scss';
@import 'main/main.scss';
@import 'profile/coach/coach.scss';
@import 'footer/footer.scss';
@import 'modal/modal.scss';
// endinjector

/** WRAPPER */

#wrapper-bg
{
  overflow: hidden;
  background: url(/assets/images/bg01.jpg) repeat;
}

#wrapper
{
  margin-top: 30px;
  padding-bottom: 50px;
  background: #FFF;
  box-shadow: 0px 10px 0px rgba(0,0,0,0.03), 0px -10px 0px rgba(0,0,0,0.03);
}

.wrappercontainer
{
  width: 1200px;
  margin: 0px auto;
  position: relative;
}

.clearfix
{
  clear: both;
}

/** HEADER */

#header
{
  // overflow: hidden;
  // border-bottom: 1px solid #E7E7E7;
  // box-sizing: border-box;
  // height:100px;
}

/** LOGO */

#logo h1, h2, h3
{
  margin: 0;
  padding: 0;
}

#logo h1 a
{
  display: block;
  line-height: 100px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 1.3em;
  color: #3E3E3E;
}

#logo span
{
  color: #8EBEAE;
}

/** MENU */

// #menu
// {
//   float: right;
//   width: 900px;
//   box-sizing: border-box;
// }
@media(max-width: $screen-xs-max)
{
  #menu a
  {
    padding: 10px 0px;
  }
}

@media(min-width: $screen-sm-min)
{
  #menu a
  {
    padding: 10px 0px;
  }
}

@media(min-width: $screen-md-min)
{
  #menu a
  {
    padding: 10px 20px;
  }
}

#menu > ul
{
  float: right;
  margin: 0px;
  padding: 30px 0px 0px 0px;
  list-style: none;
  line-height: normal;
}

#menu li
{
  float: left;
  border-left: 1px solid #E7E7E7;
}

#menu a
{
  display: block;
  // padding: 10px 20px;
  margin: 0em 1em;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 1.10em;
  font-weight: 600;
  color: #99CCBB;
}

#menu .active a
{
  background: #99CCBB;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.1);
  border: 1px solid #8EBEAE;
  color: #FFFFFF;
}

#menu .active a:hover
{
  background-color: #94C5B5;
}

#menu .active a:active
{
  background-color: #8EBEAE;
}

#menu a:hover
{
  text-decoration: none;
}

#dropdown > a
{
  display: block;
  padding: 10px 20px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 1.10em;
  font-weight: 600;
  color: #99CCBB;
}

#dropdown ul
{
  float: right;
  margin: 0px;
  list-style: none;
  line-height: normal;
}

#dropdown li
{
  float: left;
  border-left: 1px solid #E7E7E7;
}

.navbar-toggle {
  border-color: #dddddd;
}

.navbar-toggle .icon-bar {
  background-color: #888888;
}
