<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Some stuff here</p>
    <img class="img-circle" src="assets/images/tempCoach1.png" alt="picture" style="width:150px;height:150px;">
  </div>
</header>

<div class="container">
  
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Instructors</h1>
      <div class="col-lg-4 coach">
        <div class="col-lg-5">
          <a href="/profile/coach1">
            <img alt="Coach1" class="img-rounded pic-wrap" src="assets/images/tempCoach2.png" style="width:100%;height:150px;">
          </a>
          <a class="btn btn-primary show" href="/profile/coach1">
            <i class="fa fa-user"></i> View Profile
          </a>
        </div>
        <div class="col-lg-7">
          <a href="/profile/coach1"><h4>Coach1</h4></a>
          Some generic text here about how awesome the cat on the left is.
        </div>
      </div>
      <div class="col-lg-4 coach">
        <div class="col-lg-5">
          <a href="/profile/coach2">
            <img alt="Coach2" class="img-rounded pic-wrap" src="assets/images/tempCoach2.png" style="width:100%;height:150px;">
          </a>
          <a class="btn btn-primary show" href="/profile/coach2">
            <i class="fa fa-user"></i> View Profile
          </a>
        </div>
        <div class="col-lg-7">
          <a href="/profile/coach2"><h4>Coach2</h4></a>
          Some generic text here about how awesome the cat on the left is.
        </div>
      </div>
      <div class="col-lg-4 coach">
        <div class="col-lg-5">
          <a href="/profile/coach1">
            <img alt="Coach1" class="img-rounded pic-wrap" src="assets/images/tempCoach2.png" style="width:100%;height:150px;">
          </a>
          <a class="btn btn-primary show" href="/profile/coach1">
            <i class="fa fa-user"></i> View Profile
          </a>
        </div>
        <div class="col-lg-7">
          <a href="/profile/coach1"><h4>Coach1</h4></a>
          Some generic text here about how awesome the cat on the left is.
        </div>
      </div>
      <div class="col-lg-4 coach">
        <div class="col-lg-5">
          <a href="/profile/coach2">
            <img alt="Coach2" class="img-rounded pic-wrap" src="assets/images/tempCoach2.png" style="width:100%;height:150px;">
          </a>
          <a class="btn btn-primary show" href="/profile/coach2">
            <i class="fa fa-user"></i> View Profile
          </a>
        </div>
        <div class="col-lg-7">
          <a href="/profile/coach2"><h4>Coach2</h4></a>
          Some generic text here about how awesome the cat on the left is.
        </div>
      </div><div class="col-lg-4 coach">
        <div class="col-lg-5">
          <a href="/profile/coach1">
            <img alt="Coach1" class="img-rounded pic-wrap" src="assets/images/tempCoach2.png" style="width:100%;height:150px;">
          </a>
          <a class="btn btn-primary show" href="/profile/coach1">
            <i class="fa fa-user"></i> View Profile
          </a>
        </div>
        <div class="col-lg-7">
          <a href="/profile/coach1"><h4>Coach1</h4></a>
          Some generic text here about how awesome the cat on the left is.
        </div>
      </div>
      <div class="col-lg-4 coach">
        <div class="col-lg-5">
          <a href="/profile/coach2">
            <img alt="Coach2" class="img-rounded pic-wrap" src="assets/images/tempCoach2.png" style="width:100%;height:150px;">
          </a>
          <a class="btn btn-primary show" href="/profile/coach2">
            <i class="fa fa-user"></i> View Profile
          </a>
        </div>
        <div class="col-lg-7">
          <a href="/profile/coach2"><h4>Coach2</h4></a>
          Some generic text here about how awesome the cat on the left is.
        </div>
      </div>
    </div>  
  </div>
  <hr id="howitworks" class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-8">
      <h2 class="featurette-heading">How it works. <span class="text-muted">It'll blow your mind.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-4">
      <img class="featurette-image img-responsive center" data-src="holder.js/300x300/vine" alt="300x300">
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-4">
      <img class="featurette-image img-responsive" data-src="holder.js/300x300/social" alt="300x300">
    </div>
    <div class="col-md-8">
      <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-8">
      <h2 class="featurette-heading">How it works. <span class="text-muted">It'll blow your mind.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-4">
      <img class="featurette-image img-responsive center" src="holder.js/300x300/vine" alt="300x300">
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Instru</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div> -->

  <!-- <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form> -->
</div>

<div ng-include="'components/footer/footer.html'"></div>