<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width"/>
  <title>Activation</title>
</head>
<body>
  Hey {{=userName}}!<br>
  Review your lesson with {{=coachName}}!
  
  <p><a href="{{=reviewUrl}}{{=reviewToken}}">{{=reviewUrl}}{{=reviewToken}}</a></p>
  
  
  <div class="starRate">
    <div>Currently rated: 3 stars<b></b></div>
    <ul>
      <li><a href="#"><span>Give it 5 stars</span></a></li>
      <li><a href="#"><span>Give it 4 stars</span></a></li>
      <li><a href="#"><span>Give it 3 stars</span><b></b></a></li>
      <li><a href="#"><span>Give it 2 stars</span></a></li>
      <li><a href="#"><span>Give it 1 star</span></a></li>
    </ul>
  </div>
  
</body>
</html>