.angular-google-map-container { height: 400px; width:100% }

#timetable, tbody, thead, tr, td, th {
  text-align: center;
}

tr,td {
  width: 40px;
}

.booked {
  background-color: red;
}
.booked:hover { 

}

.available {
  background-color: lime;
}
.available:hover { 
  
}

.empty {
  background-color: white;
}
.empty:hover { 

}