<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <img src="assets/images/tempCoach1.png">
    </div>
    <div class="col-md-7">
      <h2>{{coach.name}}</h2>
      <h4>Boynton Beach, FL</h4>
      <div class="row" ng-controller="MeCtrl">
        <style>
        .boxsizingBorder {
          -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
                  box-sizing: border-box;
        }
        </style>
        <div class="col-md-12">
          <a href="#" editable-textarea="coach.about" e-class="boxsizingBorder" e-cols="80" e-rows="10" onaftersave="updateAbout()">
            <pre>{{ coach.about || 'no description' }}</pre>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      Years Playing
      <h3>12 Years</h3>
      Years Teaching
      <h3> 7 Years</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>My lessons</h2>
      <li class="list-group-item" ng-repeat="l in lessons">
          <strong>{{l.for}}</strong><br>
          <span class="text-muted">{{l.coach}}</span> with 
          <span class="text-muted">{{l.count}}</span> person. Age:
          <span class="text-muted">{{l.age}}</span> Exp:
          <span class="text-muted">{{l.exp}}</span> from
          <span class="text-muted">{{l.startTime | date :"yyyy-MM-dd 'at' h:mma"}}</span> to
          <span class="text-muted">{{l.endTime | date :"yyyy-MM-dd 'at' h:mma"}}</span>
      </li>
    </div>
    <div class="col-md-6">
      <h2>My timetable</h2>
      <table id="timetable" class="table table-bordered">
        <tbody>
          <tr>
            <td ng-click="changeAll()"></td>
            <td ng-repeat="day in _days" ng-click="changeDay(day)">{{day}}</td>
          </tr>
          <tr ng-repeat="time in _times">
            <td ng-click="changeTime(time)">{{time}}</td>
            <td ng-repeat="day in _days" ng-class="days[day][time]" ng-click="change(day,time)"></td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-primary btn" ng-click="updateTimetable()" >
        Save
      </button>
      <button class="btn btn-primary btn" ng-click="resetTimetable()" >
        Cancel
      </button>
    </div>
  </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>