<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <img src="assets/images/tempCoach1.png">
    </div>
    <div class="col-md-7">
      <h2>{{coach.name}}</h2>
      <h4>Boynton Beach, FL</h4>
      <p>Hi, my name is Miha and I'm orginally from Slovenia. I was number 1 junior in the world 14 and under and a top 10 junior in the world 18 and under (semi-finalist orange bowl-quarter -finalist of junior Wimbledon). I played professional for 10 years with my highest ATP ranking 400. I won a few futures events and played Davis cup for Slovenia for 4 years. I have been coaching in Florida for the last 7 years. I worked at Rick Macci tennis academy and worked on my own for last 5 years with top juniors in Florida and a few ATP ranked players as well! I have wins over top ATP players including Juan Carlos Ferrero, Fernando Gonzales, Ivan Ljubicic and Ivo Karlovic.</p>
    </div>
    <div class="col-md-2">
      Years Playing
      <h3>12 Years</h3>
      Years Teaching
      <h3> 7 Years</h3>
    </div>
  </div>
  <div class="row">
    Hello {{getCurrentUser().name}}
    <div class="col-md-6">
      <form class="form" name="form" ng-submit="book(form)" novalidate>
        <div class="form-group">
          <label for="LessonFor">These Lessons are for?</label>
          <select class="form-control" name="LessonFor" ng-model="lesson.for">
            <option value="myself">Myself</option>
            <option value="child">Child</option>
            <option value="friend">Friend</option>
            <option value="partner">Partner</option>
            <option value="other">Other</option>
          </select>
        </div>
        <label for="LessonCount">Number of students? (1-2)</label>
        <div class="form-group">
          <label class="radio-inline">
            <input type="radio" name="LessonCount" id="inlineRadio1" value="1" ng-model="lesson.count" checked> 1
          </label>
          <label class="radio-inline">
            <input type="radio" name="LessonCount" id="inlineRadio2" value="2" ng-model="lesson.count"> 2
          </label>
        </div>
        <div class="form-group">
          <label for="LessonAgeGroup">Age</label>
          <select class="form-control" name="LessonAgeGroup" ng-model="lesson.age">
            <option value="under5">Under 5</option>
            <option value="5-11">5-11</option>
            <option value="12-17">12-17</option>
            <option value="18-30" selected>18-30</option>
            <option value="31-60">31-60</option>
            <option value="60+">60+</option>
          </select>
        </div>
        <div class="form-group">
          <label for="LessonExp">Experience</label>
          <select class="form-control" name="LessonExp" ng-model="lesson.exp">
            <option value="beginner">Beginner</option>
            <option value="advancedBeginner">Advanced Beginner</option>
            <option value="intermediate">Intermediate</option>
            <option value="advanced">Advanced</option>
          </select>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <label>Start time</label>
            </div>
            <div class="col-md-6">
              <label>End time</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <timepicker name="startTime" ng-model="lesson.startTime" ng-change="changed(lesson.startTime)" hour-step="hstep" minute-step="mstep"></timepicker>
            </div>
            <div class="col-md-6">
              <timepicker name="endTime" ng-model="lesson.endTime" ng-change="changed(lesson.endTime)" hour-step="hstep" minute-step="mstep"></timepicker>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>

      </form>
    </div>
    <div class="col-md-6">
      <table id="timetable" class="table table-bordered">
        <thead>
          <th>< Prev</th>
          <th colspan="{{8-2}}"> October 20th - October 26th</th>
          <th>Next ></th>
        </thead>
        <thead>
          <th></th>
          <th ng-repeat="day in days">{{day}}</th>
        </thead>
        <tbody>
          <tr ng-repeat="time in times">
            <td>{{time}}</td>
            <td ng-repeat="day in days" ng-class="empty" ng-click="model.selectedTime=time;open()"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
  <div class="row">
  <li class="list-group-item" ng-repeat="l in lessons">
      <strong>{{l.for}}</strong><br>
      <span class="text-muted">{{l.coach}}</span> with 
      <span class="text-muted">{{l.count}}</span> person. Age:
      <span class="text-muted">{{l.age}}</span> Exp:
      <span class="text-muted">{{l.exp}}</span> from
      <span class="text-muted">{{l.startTime | date :"yyyy-MM-dd 'at' h:mma"}}</span> to
      <span class="text-muted">{{l.endTime | date :"yyyy-MM-dd 'at' h:mma"}}</span>
  </li>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>